.button {
	background-color: rgba(255, 3, 3, 0.63);
	border: 1px solid rgba(0, 0, 0, 0.377);
	box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.452);
	height: 40px;
	width: 150px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	margin-top: 5px;
	margin-left: 10px;
}

.backbtn {
	color: white;
}

.wrapbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 100px;
	height: auto;
}
