.button {
	background-color: gray;
	border: 1px solid rgba(0, 0, 0, 0.377);
	box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.452);
	height: 40px;
	width: 150px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.backbtn {
	color: white;
}

.wrapbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100px;
	height: auto;
}
