:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: #1a1a1a;
	color: white;

	background-image: linear-gradient(to right, red, white);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: rgb(6, 49, 243);
		color: white;
		cursor: pointer;
	}
}

li {
	list-style-type: decimal;
}

span {
	color: red;
	cursor: pointer;
}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.589);
	border: 2px solid rgba(0, 0, 0, 0.137);
	border-radius: 20px;
	box-shadow: 15px 5px 5px rgba(0, 0, 0, 0.452);

	height: auto;
}

.wrap {
	display: flex;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.todoName {
	color: rgba(255, 255, 255, 0.719);
}

input {
	border: 2px solid red;
	border-radius: 20px;
	padding: 8px;

	background-color: rgba(255, 255, 255, 0.719);
}
